

.h-wrapper{
    padding: 2rem 10rem 0rem 10rem;
}

.h-logo{
    width: 10rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.h-nav{
    padding: 0rem 0rem 0rem 5rem;
}

.h-nav-item{
    padding: 0rem 0rem 0rem 2.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width:576px){

    .h-wrapper{
        padding: 0rem 0rem 0rem 0rem;
    }

    .h-logo{
        width: 10rem;
    }

    .h-nav{
        padding: 0rem 0rem 0rem 3rem;
    }

    .h-nav-item{
        padding: 0rem 0rem 0rem 1rem;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
    }
    
}













