*{
    scroll-behavior: smooth;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.main-wrapper{
    /* background-color: #afafaf; */
    background-color: #000000;
} 